<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/jdbc/eams</value>
		</property>
	</bean>
	
	<bean id="hibernateConfig">
		<property name="properties">
			<props merge="true">
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<!--<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>-->
				<!--<prop key="hibernate.dialect">org.hibernate.dialect.DB2Dialect</prop>-->
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto"></prop>
			</props>
		</property>
	</bean>
</beans>
